{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <section class="main_homepage">

        <header class="header_homepage">
            <img class="header_homepage__logo" src="/static/images/laptop.png" alt="">
            <a class="header_homepage__login" href="{% url 'stock:homepage' %}">Voltar</a>
        </header>

        <div class="login-box">
            <h2 class="login-title">Stock Stolker</h2>
            <form method="post" class="login-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
        </div>
    </section>
        <footer class="homepage_footer">
            <p class="homepage_footer__text">Developed by Daniel Paloschi</p>
        </footer>

</body>
</html>