{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/stockpage.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <title>StockPage</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins&display=swap" rel="stylesheet">


</head>

<body>
    <section class="main">
        <div class="lateral-menu">
            <div class="user">
                <a class="user__profile" href="{% url 'stock:editprofile' user.pk %}">
                    {% if request.user.profile_pic %}
                    <img class="user__image" src="{{ request.user.profile_pic.url }}" alt="#">
                    {% else %}
                    <img class="user__image" src="/static/images/blank-profile-picture-973460_960_720.webp" alt="#">
                    {% endif %}
                    {% if request.user.first_name %}
                    <h2 class="user__name">{{ request.user.first_name }}</h2>
                    {% else %}
                    <h2 class="user__name">{{ request.user.username }}</h2>
                    {% endif %}
                </a>
                <a class="your-stocks" href="{% url 'stock:dashboard' %}">
                    <img class="your-stocks__icon" src="/static/images/white-layer.png" alt="">
                    <p class="your-stocks__text">Yours Stocks</p>
                </a>
            </div>
            <div class="logout">
                <a class="logout__text" href="{% url 'stock:logout' %}?next=/"> Logout ></a>
            </div>
        </div>

        <div class="stockpage">

            <div class="stockpage__title">
                <h2 class="stockpage__title_txt">Stock</h2>
                <hr class="stockpage__title_line">
                {% if object.logo.url is not Null %}
                <img class="stockpage__title_logo" src="{{ object.logo.url }}" alt="">
                {% else %}
                <img class="stockpage__title_logo" src="/static/images/nasdaq1512.jpg" alt="">
                {% endif %}
            </div>

            <div class="stockpage__graph">
                <div class="stockpage__graph__line1">
                    <div class="stockpage__graph__line1-data">
                        <h2 class="stockpage__graph__line1-data-title">{{ object.company_name }}</h2>
                        <div class="stockpage__graph__line1-data-values">
                            <p class="stockpage__current_value">U${{ stock.current_value|floatformat:2 }}</p>
                            {% if object.market_change > 0 %}
                            <div class="stockpage__variation-up">
                                <p>{{ object.market_change|floatformat:2 }}%</p>
                                <img class="arrow-up" src="/static/images/up-long-solid.svg" alt="">
                            </div>
                            {% else %}
                            <div class="stockpage__variation-down">
                                <p>{{ object.market_change|floatformat:2 }}%</p>
                                <img class="arrow-down" src="/static/images/down-long-solid.svg" alt="">
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div>
                        <form method="post" action="{% url 'stock:day-data-stock' object.pk %}">
                            {% csrf_token %}
                            <button class="stockpage__graph__line1-data-button" type="submit">Atualizar Dados</button>
                        </form>

                    </div>
                </div>
                <div class="stockpage__graph__line2">
                  <canvas id="linechart"></canvas>
                        <script>
                              $(document).ready(function(){
                                var ctx = document.getElementById('linechart').getContext('2d');
                                const labels = [{%for data in day_data%}'{{data.date_value|date}}',{%endfor%}];
                                const data = {
                                  labels: labels,
                                  datasets: [{
                                    label: 'Historic Stock Price',
                                    data: [{%for data in day_data%}'{{data.close_value|floatformat:2}}',{%endfor%}],
                                    fill: false,
                                    borderColor: 'rgba(142, 45, 186, 1)',
                                    tension: 0.1,
                                    backgroundColor: 'rgba(142, 45, 186, 1)',
                                  }]
                                };
                                console.log(labels, data)
                                const config = {
                                  type: 'line',
                                  data: data,
                                };

                                ctx.canvas.style.width = '100%';
                                ctx.canvas.style.height = '100%';
                                new Chart(ctx, config)
                            });
                    </script>
                </div>
            </div>
            <div class="stockpage__infos">
                {% if object.buy_recomendation == "Buy" %}
                <div class="stockpage__about_buy">
                {% elif object.buy_recomendation == "Sell" %}
                <div class="stockpage__about_sell">
                {% elif object.buy_recomendation == "Refresh Data"%}
                <div class="stockpage__about__refresh">
                {% endif %}
                    <div class="top-recomendation">
                        <form method="post" action="{% url 'stock:getbuyrecomendation' object.pk %}">
                            {% csrf_token %}
                            <button class="buy_recomendation" type="submit">Refresh Recomendation</button>
                        </form>
                    </div>
                    <div class="bottom-recomendation">
                        <h1 class="buy_recomendation-text">{{ object.buy_recomendation }}</h1>
                    </div>
                </div>

                <div class="stockpage__news">

                </div>
            </div>
        </div>
    </section>
</body>
</html>